<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joe.api.dao.CommodityDetailMapper">
    <resultMap id="BaseResultMap" type="com.joe.api.po.CommodityDetail">
        <id column="detail_id" property="detailId" jdbcType="INTEGER"/>
        <result column="commodity_id" property="commodityId" jdbcType="INTEGER"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="cost" property="cost" jdbcType="DECIMAL"/>
        <result column="init_price" property="initPrice" jdbcType="DECIMAL"/>
        <result column="stock" property="stock" jdbcType="INTEGER"/>
        <result column="taste" property="taste" jdbcType="VARCHAR"/>
        <result column="preservation" property="preservation" jdbcType="VARCHAR"/>
        <result column="expirationDate" property="expirationDate" jdbcType="VARCHAR"/>
        <result column="freight" property="freight" jdbcType="DECIMAL"/>
        <result column="integral" property="integral" jdbcType="INTEGER"/>
        <result column="origin" property="origin" jdbcType="VARCHAR"/>
        <result column="enable" property="enable" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
        detail_id, commodity_id, unit, cost, init_price, stock, taste, preservation, expirationDate, freight, integral, origin,enable
    </sql>


    <!--insert区域-->
    <insert id="insertSelective" parameterType="com.joe.api.po.CommodityDetail" useGeneratedKeys="true"
            keyProperty="detailId">
        insert into tb_commodity_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="detailId != null">
                detail_id,
            </if>
            <if test="commodityId != null">
                commodity_id,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="cost != null">
                cost,
            </if>
            <if test="initPrice != null">
                init_price,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="taste != null">
                taste,
            </if>
            <if test="preservation != null">
                preservation,
            </if>
            <if test="expirationDate != null">
                expirationDate,
            </if>

            <if test="freight != null">
                freight,
            </if>
            <if test="integral != null">
                integral,
            </if>
            <if test="origin != null">
                origin,
            </if>
            <if test="enable != null">
                enable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="detailId != null">
                #{detailId,jdbcType=INTEGER},
            </if>
            <if test="commodityId != null">
                #{commodityId,jdbcType=INTEGER},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="cost != null">
                #{cost,jdbcType=DECIMAL},
            </if>
            <if test="initPrice != null">
                #{initPrice,jdbcType=DECIMAL},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="taste != null">
                #{taste,jdbcType=VARCHAR},
            </if>
            <if test="preservation != null">
                #{preservation,jdbcType=VARCHAR},
            </if>
            <if test="expirationDate != null">
                #{expirationDate,jdbcType=VARCHAR},
            </if>
            <if test="freight != null">
                #{freight,jdbcType=DECIMAL},
            </if>
            <if test="integral != null">
                #{integral,jdbcType=INTEGER},
            </if>
            <if test="origin != null">
                #{origin,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=BIT},
            </if>
        </trim>
    </insert>


    <!--delete区域-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_commodity_detail
        where detail_id = #{detailId,jdbcType=INTEGER}
    </delete>


    <!-- update区域-->
    <update id="updateByPrimaryKeySelective" parameterType="com.joe.api.po.CommodityDetail">
        update tb_commodity_detail
        <set>
            <if test="commodityId != null">
                commodity_id = #{commodityId,jdbcType=INTEGER},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="cost != null">
                cost = #{cost,jdbcType=DECIMAL},
            </if>
            <if test="initPrice != null">
                init_price = #{initPrice,jdbcType=DECIMAL},
            </if>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="taste != null">
                taste = #{taste,jdbcType=VARCHAR},
            </if>
            <if test="preservation != null">
                preservation = #{preservation,jdbcType=VARCHAR},
            </if>
            <if test="expirationDate != null">
                expirationDate = #{expirationDate,jdbcType=VARCHAR},
            </if>
            <if test="freight != null">
                freight = #{freight,jdbcType=DECIMAL},
            </if>
            <if test="integral != null">
                integral = #{integral,jdbcType=INTEGER},
            </if>
            <if test="origin != null">
                origin = #{origin,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                enable = #{enable,jdbcType=VARCHAR},
            </if>
        </set>
        where detail_id = #{detailId,jdbcType=INTEGER}
    </update>

    <update id="updateByCommodityIdSelective" parameterType="com.joe.api.po.CommodityDetail">
        update tb_commodity_detail
        <set>
            <if test="commodityId != null">
                commodity_id = #{commodityId,jdbcType=INTEGER},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="cost != null">
                cost = #{cost,jdbcType=DECIMAL},
            </if>
            <if test="initPrice != null">
                init_price = #{initPrice,jdbcType=DECIMAL},
            </if>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="taste != null">
                taste = #{taste,jdbcType=VARCHAR},
            </if>
            <if test="preservation != null">
                preservation = #{preservation,jdbcType=VARCHAR},
            </if>
            <if test="expirationDate != null">
                expirationDate = #{expirationDate,jdbcType=VARCHAR},
            </if>
            <if test="freight != null">
                freight = #{freight,jdbcType=DECIMAL},
            </if>
            <if test="integral != null">
                integral = #{integral,jdbcType=INTEGER},
            </if>
            <if test="origin != null">
                origin = #{origin,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                enable = #{enable,jdbcType=BIT},
            </if>
        </set>
        where commodity_id = #{commodityId,jdbcType=INTEGER}
    </update>

    <update id="updateByCommodityId" parameterType="com.joe.api.po.CommodityDetail">
        update tb_commodity_detail
        SET unit = #{unit,jdbcType=VARCHAR}, cost = #{cost,jdbcType=DECIMAL}, init_price = #{initPrice,jdbcType=DECIMAL},
        stock = #{stock,jdbcType=INTEGER}, taste = #{taste,jdbcType=VARCHAR},preservation = #{preservation,jdbcType=VARCHAR},
        expirationDate = #{expirationDate,jdbcType=VARCHAR}, freight = #{freight,jdbcType=DECIMAL},
        integral = #{integral,jdbcType=INTEGER}, origin = #{origin,jdbcType=VARCHAR}
        where commodity_id = #{commodityId,jdbcType=INTEGER}
    </update>


    <!--select区域-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_commodity_detail
        where detail_id = #{detailId,jdbcType=INTEGER} and enable = 1
    </select>

    <select id="selectByCommodityId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_commodity_detail
        where commodity_id = #{commodityId,jdbcType=INTEGER} and enable = 1
    </select>

</mapper>