<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joe.api.dao.CommodityEvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.joe.api.po.CommodityEvaluate" >
    <id column="evaluate_id" property="evaluateId" jdbcType="INTEGER" />
    <result column="commodity_id" property="commodityId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="evaluate" property="evaluate" jdbcType="VARCHAR" />
    <result column="evaluate_picture" property="evaluatePicture" jdbcType="VARCHAR" />
    <result column="evaluate_time" property="evaluateTime" jdbcType="TIMESTAMP" />
    <result column="append_evaluate" property="appendEvaluate" jdbcType="VARCHAR" />
    <result column="append_evaluate_time" property="appendEvaluateTime" jdbcType="TIMESTAMP" />
    <result column="enable" property="enable" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    evaluate_id, commodity_id, customer_id, customer_name, `level`, evaluate, evaluate_picture,
    evaluate_time, append_evaluate, append_evaluate_time, enable
  </sql>



  <!-- insert区域-->
  <insert id="insertSelective" parameterType="com.joe.api.po.CommodityEvaluate" useGeneratedKeys="true" keyProperty="evaluateId">
    insert into tb_commodity_evaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="evaluateId != null" >
        evaluate_id,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="level != null" >
        `level`,
      </if>
      <if test="evaluate != null" >
        evaluate,
      </if>
      <if test="evaluatePicture != null" >
        evaluate_picture,
      </if>
      <if test="evaluateTime != null" >
        evaluate_time,
      </if>
      <if test="appendEvaluate != null" >
        append_evaluate,
      </if>
      <if test="appendEvaluateTime != null" >
        append_evaluate_time,
      </if>
      <if test="enable != null" >
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="evaluateId != null" >
        #{evaluateId,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="evaluate != null" >
        #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="evaluatePicture != null" >
        #{evaluatePicture,jdbcType=VARCHAR},
      </if>
      <if test="evaluateTime != null" >
        #{evaluateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appendEvaluate != null" >
        #{appendEvaluate,jdbcType=VARCHAR},
      </if>
      <if test="appendEvaluateTime != null" >
        #{appendEvaluateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIT},
      </if>
    </trim>
  </insert>



  <!--delete区域-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_commodity_evaluate
    where evaluate_id = #{evaluateId,jdbcType=INTEGER}
  </delete>



  <!--update区域-->
  <update id="updateByPrimaryKeySelective" parameterType="com.joe.api.po.CommodityEvaluate" >
    update tb_commodity_evaluate
    <set >
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        `level` = #{level,jdbcType=INTEGER},
      </if>
      <if test="evaluate != null" >
        evaluate = #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="evaluatePicture != null" >
        evaluate_picture = #{evaluatePicture,jdbcType=VARCHAR},
      </if>
      <if test="evaluateTime != null" >
        evaluate_time = #{evaluateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appendEvaluate != null" >
        append_evaluate = #{appendEvaluate,jdbcType=VARCHAR},
      </if>
      <if test="appendEvaluateTime != null" >
        append_evaluate_time = #{appendEvaluateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
    </set>
    where evaluate_id = #{evaluateId,jdbcType=INTEGER}
  </update>



  <!-- 查询区域-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_commodity_evaluate
    where evaluate_id = #{evaluateId,jdbcType=INTEGER}
  </select>

  <select id="selectEvaluateCountByCommodityId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select
    count(*)
    from tb_commodity_evaluate
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </select>

  <select id="selectEvaluateByCommodityId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_commodity_evaluate
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </select>
</mapper>