<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joe.api.dao.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.joe.api.po.OrderDetail" >
    <id column="detail_id" property="detailId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="commodity_id" property="commodityId" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="unit" property="unit" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    detail_id, order_id, commodity_id, picture, price, amount, unit, create_time,
    update_time
  </sql>



<!--insert区域-->
  <insert id="insertSelective" parameterType="com.joe.api.po.OrderDetail" useGeneratedKeys="true" keyProperty="detailId">
    insert into tb_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        detail_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        #{detailId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <insert id="insertBatch">
    INSERT INTO tb_order_detail (`order_id`, `picture`, `commodity_id`, `price`, `amount`, `unit`, `create_time`) VALUES
    <foreach collection="orderDetailList" separator="," item="orderDetail">
      (
      #{orderDetail.orderId,jdbcType=INTEGER},#{orderDetail.commodityId,jdbcType=INTEGER},
      #{orderDetail.picture,jdbcType=VARCHAR},#{orderDetail.price,jdbcType=DECIMAL},
      #{orderDetail.amount,jdbcType=INTEGER},#{orderDetail.unit,jdbcType=INTEGER},now()
      )
    </foreach>
  </insert>



  <!-- delete区域-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_order_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </delete>



  <!--update区域-->
  <update id="updateByPrimaryKeySelective" parameterType="com.joe.api.po.OrderDetail" >
    update tb_order_detail
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where detail_id = #{detailId,jdbcType=INTEGER}
  </update>

  <update id="updateunitByOrderId" parameterType="java.util.HashMap" >
      update
      tb_order_detail
      set unit = #{unit,jdbcType=INTEGER}
      where
      order_id = #{orderId,jdbcType=INTEGER}
  </update>


  <!--select区域-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_order_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </select>


</mapper>