<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joe.api.dao.PaymentTradeMapper">
    <resultMap id="BaseResultMap" type="com.joe.api.po.PaymentTrade">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR"/>
        <result column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="return_code" property="returnCode" jdbcType="VARCHAR"/>
        <result column="return_msg" property="returnMsg" jdbcType="VARCHAR"/>
        <result column="result_code" property="resultCode" jdbcType="VARCHAR"/>
        <result column="err_code" property="errCode" jdbcType="VARCHAR"/>
        <result column="err_code_des" property="errCodeDes" jdbcType="VARCHAR"/>
        <result column="transaction_id" property="transactionId" jdbcType="VARCHAR"/>
        <result column="total_fee" property="totalFee" jdbcType="INTEGER"/>
        <result column="bank_type" property="bankType" jdbcType="VARCHAR"/>
        <result column="time_end" property="timeEnd" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="enable" property="enable" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, out_trade_no, openid, return_code, return_msg, result_code, err_code, err_code_des, 
    transaction_id, total_fee, bank_type, time_end, create_time,enable
  </sql>

    <insert id="insertSelective" parameterType="com.joe.api.po.PaymentTrade" useGeneratedKeys="true" keyProperty="id">
        insert into tb_payment_trade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="outTradeNo != null">
                out_trade_no,
            </if>
            <if test="openid != null">
                openid,
            </if>
            <if test="returnCode != null">
                return_code,
            </if>
            <if test="returnMsg != null">
                return_msg,
            </if>
            <if test="resultCode != null">
                result_code,
            </if>
            <if test="errCode != null">
                err_code,
            </if>
            <if test="errCodeDes != null">
                err_code_des,
            </if>
            <if test="transactionId != null">
                transaction_id,
            </if>
            <if test="totalFee != null">
                total_fee,
            </if>
            <if test="bankType != null">
                bank_type,
            </if>
            <if test="timeEnd != null">
                time_end,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="enable != null">
                enable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="outTradeNo != null">
                #{outTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="openid != null">
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="returnCode != null">
                #{returnCode,jdbcType=VARCHAR},
            </if>
            <if test="returnMsg != null">
                #{returnMsg,jdbcType=VARCHAR},
            </if>
            <if test="resultCode != null">
                #{resultCode,jdbcType=VARCHAR},
            </if>
            <if test="errCode != null">
                #{errCode,jdbcType=VARCHAR},
            </if>
            <if test="errCodeDes != null">
                #{errCodeDes,jdbcType=VARCHAR},
            </if>
            <if test="transactionId != null">
                #{transactionId,jdbcType=VARCHAR},
            </if>
            <if test="totalFee != null">
                #{totalFee,jdbcType=INTEGER},
            </if>
            <if test="bankType != null">
                #{bankType,jdbcType=VARCHAR},
            </if>
            <if test="timeEnd != null">
                #{timeEnd,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=BIT},
            </if>
        </trim>
    </insert>

</mapper>